.page-header {
  margin-top: 20px;
}
.row-padded {
  padding: 5px 0;
}
.row-spacer {
  height: 20px;
}
ul {
  margin-bottom: 0;
}
.btn {
  min-width: 154px;
}
.alert {
  margin-bottom: 0;
}
th {
  background-color: #DDEEFF;
}
.number {
  width: 100px;
}
.elapsed, .status {
  width: 250px;
}
